 <% if(!nonav) { %>
 <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo "><img class='responsive-img circle valign' src="/public/imgs/logo.png" width='40' height='60' style="margin:12px;" alt="logo"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if (isLoggedIn) { %>
      <li><a href="/">Homepage</a></li>
      <li><a href="/cards">Your Cards</a></li>
    <li><a href="/new-card">Create new Card</a></li>
      <li><a href="/auth/logout">Log out</a></li>
      <% } else { %>
      <li><a href="/">Homepage</a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/signup">Signup</a></li>
      <% } %>
      </ul>
    </div>
    
  </nav>
  <% } %>

  <ul class="sidenav" id="mobile-demo">
    
    <% if (isLoggedIn) { %>
      <li><a href="/">Homepage</a></li>
      <li><a href="/cards">Your Cards</a></li>
    <li><a href="/new-card">Create new Card</a></li>
      <li><a href="/auth/logout">Log out</a></li>
      <% } else { %>
      <li><a href="/">Hompage</a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/signup">Signup</a></li>
      <% } %>
  </ul>
