<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Beth+Ellen|Poppins|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/public/css/style.css">
    <title><%= pageTitle %></title>
</head>

<body>
    <div class="back" id="back">
        <p><%= message %></p>
        <div style="float:right;">
            <i class="fas fa-heart"></i>
            <h4 style="display:inline;margin-left:10px;"><%= sign %></h4>
        </div>

    </div>
    <div class="container" id="container">
        <h2 class="title"><%= title %></h2>
        <div class="img"></div>
    </div>
    <script src="/public/js/script.js"></script>
</body>

</html>