<% include includes/header %>
    <div class="section"></div>
    <div class="section"></div>
    <div class="row valign-wrapper center-align">
        <div class="col s4 offset-s4 red lighten-5 red-text text-darken-4">
            <%= error %>
        </div>
    </div>
    </body>

    </html>