* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.form-wrapper {
    width: 80vw;
    height: 80vh;
    background: linear-gradient(to bottom right, rgb(46, 15, 15), rgb(131, 43, 43), rgb(46, 15, 15));
    padding: 5px 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;
    color: rgb(255, 143, 143);
    font-family: 'Poppins', sans-serif;
    box-shadow: 5px 5px 15px -10px black;
}

.form {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.input-control {
    outline: rgb(11, 95, 122);
    border: none;
    background: transparent;
    border-bottom: 2px solid rgb(148, 148, 255);
    width: 80%;
    color: white;
    letter-spacing: 2px;
    font-size: 18px;
    font-family: 'Roboto' sans-serif;
}

.input-control:active {
    outline: none;
    border-bottom: 2px solid rgb(129, 230, 46);
}


/* .btn {
    width: 60%;
    background: green;
    outline: none;
    padding: 5px 10px;
    font-size: 1.05rem;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 300ms;
    background: linear-gradient(to bottom right, rgb(255, 153, 0), rgb(240, 84, 45), rgb(255, 153, 0), rgb(240, 84, 45)) no-repeat;
} */


/* .btn:hover {
    transform: scale(1.1) translateY(-5px);
    box-shadow: -5px -5px 20px -15px black;
    background: linear-gradient(to bottom right, rgb(240, 84, 45), rgb(255, 153, 0), rgb(240, 84, 45)) no-repeat;
}

.btn:active {
    transform: scale(0.9) translateY(1px);
    box-shadow: inset -5px -5px 20px -15px black;
} */