* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.form-wrapper {
    width: 80vw;
    height: 80vh;
    background: linear-gradient(to bottom right, rgb(46, 15, 15), rgb(131, 43, 43), rgb(46, 15, 15));
    padding: 5px 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;
    color: rgb(255, 143, 143);
    font-family: 'Poppins', sans-serif;
    box-shadow: 5px 5px 15px -10px black;
}

.form {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.input-control {
    outline: rgb(11, 95, 122);
    border: none;
    background: transparent;
    border-bottom: 2px solid rgb(148, 148, 255);
    width: 80%;
    color: white;
    letter-spacing: 2px;
    font-size: 18px;
    font-family: 'Roboto' sans-serif;
}

.input-control:active {
    outline: none;
    border-bottom: 2px solid rgb(129, 230, 46);
}

.text {
    font-size: 1.8rem;
    font-family: 'Poppins', cursive;
    line-height: 1.5;
}

.fas {
    margin: auto;
    font-size: 50%;
    color: white;
}

.fa-plus::after {
    content: "Card";
    margin: auto 7px;
    color: white;
    font-size: 1.3rem;
    font-weight: 300;
    font-family: "Montez", Cursive;
}

.wrapper {
    margin: auto;
    width: 80vw;
    height: 70vh;
    max-height: 800px;
    max-width: 600%;
    border-radius: 5px;
    box-shadow: -1px -3px 14px -8px black;
    transition: 500ms;
}

.wrapper:active,
.wrapper:hover {
    box-shadow: 1px 4px 14px -8px black;
}