* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.message {
    padding: 5px;
    text-align: center;
}

.back {
    font-size: 1rem;
}

.cards>frame::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

.title {
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Montez', cursive;
}

#confetti {
    background: url('https://i.pinimg.com/originals/e5/83/3e/e5833e1bea7d379f0f4e4ae250b7cf81.gif');
    background-size: cover;
}

.nav-wrapper {
    background: rgb(118, 175, 208);
}

.container {
    width: 19.75rem;
    height: 28.125rem;
    background: rgb(118, 175, 208);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 4px 4px 12px -7px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    color: #0E1116;
    transition: 500ms;
}

.back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: black;
    font-family: 'Beth Ellen', cursive;
    padding: 5px;
}

.img {
    width: 100px;
    min-height: 120px;
    border-radius: 15px;
    /* background: attr(data-img); */
    background-size: cover;
    background-position: center;
}

.back {
    width: 18.75rem;
    height: 28.125rem;
    background: #fcea83;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 4px 12px -7px black;
    transition: 500ms;
}

.active {
    transform: translate(calc(0% - 4px), -50%);
    transition: 500ms;
    box-shadow: 6px 6px 12px -10px black;
    z-index: 200;
}

.open {
    transform: translate(-100%, -50%) rotate3d(0, 12, 0, 180deg);
    background: #fccf83;
    box-shadow: 5px 5px -12px -4px black;
    transition: all 500ms;
    z-index: 100;
}

.active:before {
    content: "";
    height: 100%;
    background: linear-gradient(to right, #fccf83, rgba(14, 17, 22, 0.486), #fccf83);
    width: 10px;
    position: absolute;
    left: -15px;
    z-index: 550;
    opacity: 0.5;
}

.open>.title,
.open>.img {
    opacity: 0.2;
    box-shadow: inset 2px 2px 10px -6px black;
    ;
    text-shadow: inset 2px 2px 10px -6px black;
    transition: all 500ms;
}

.pageTitle {
    font-family: 'Poppins' sans-serif;
    text-shadow: 3px 3px 4px rgb(60, 60, 240);
    letter-spacing: 4px;
    font-size: 2rem;
    line-height: 1.2;
    text-align: center;
    color: black;
    font-weight: 800;
    font-style: italic;
}

.cards-pause {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 5px;
    /* background: rgb(255, 178, 36); */
    grid-gap: 5px;
    width: 100%;
    height: 100%;
}

.frame {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    overflow-y: hidden;
    background: transparent;
    outline: none;
    border: none;
}

.valign-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    justify-content: space-evenly;
    height: calc(100vh - 64px);
    background: rgba(14, 17, 22, 0.479);
    color: white;
}

.second-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    justify-content: space-evenly;
    width: 100vw;
    margin: 10px auto;
    font-size: 1.75rem;
    font-family: 'Livvic', sans-serif;
}

.hero {
    position: absolute;
    z-index: -300;
    background: url('https://static5.depositphotos.com/1003434/471/i/950/depositphotos_4716078-stock-photo-happiness-family.jpg') black;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.row {
    z-index: 200;
}

@media (max-width:600px) {
    .back,
    .container {
        width: 50vw;
        height: 75vw;
        font-size: 80%;
    }
    .active,
    .open {
        left: 75%;
    }
    .open {
        transform: translate(-150%, -50%) rotate3d(0, 12, 0, 180deg);
    }
    .active {
        transform: translate(calc(-50% - 4px), -50%);
    }
    .cards {
        grid-template-columns: 1fr;
    }
    .frame {
        width: 100vw;
        height: 100vh;
        border: 1px solid rgb(104, 253, 104);
        overflow: hidden;
    }
}